<!DOCTYPE html>
<html lang="en">
<head>
    <title>Usuario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class=navbar-brand"><img
                    src="http://icons.iconarchive.com/icons/lboi/tweetscotty/64/alien-bird-icon.png"></a>
        </div>
        <a href="../" style="margin-left: 2px;color: cyan;font-size: x-large">Twitter</a>
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="user/"><span class="glyphicon glyphicon-user"></span>{{ user|upper }}</a></li>
                <li><a href="logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="signup/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        {% endif %}
    </div>
</nav>

<div class="container">
    <div class='row'>

        <div class='col-sm-3 col-xs-12'>
            <h1>{{ user }} </h1>
            <hr/>
            <p>Followers: </p>
            <p>
                <a class='btn btn-link'>
                    Unfollow
                </a>
            </p>
            <hr/>
            <h1>Following</h1>

            <h1>Followed By</h1>
            <br/>

            <h4>Not followed by any users</h4>


            <hr/>

        </div>
        <div class='col-sm-9 col-xs-12' style="text-align: center">
            <h1>Tweets</h1>
        </div>
    
        {% for tw in tuits %}


            <div style="margin-left: 40%;margin-top: 10%;background-color: cyan">
                <div style="margin-left: 5%">
                    <h2>{{ tw.message }}</h2>
                    <h4 style="margin-left: 70%">{{ tw.datetime }}</h4>

                    <td>{{ tw.my_retuits.count }}
                        <span class="glyphicon glyphicon-refresh"></span>
                    <td>{{ tw.my_likes.count }}
                        <sapn class="glyphicon glyphicon-heart"></sapn>

                </div>
            </div>


        {% endfor %}
        <div style="margin-left: 40%;margin-top: 3%">
            <a class="btn btn-primary" href="../twitear/">Twitear</a>
        </div>
    </div>
</div>

</body>
</html>